{% extends "admin.html" %} 

{%block main %}
<div class="container">
    <div class="row" style="background-color:#FFDE59;">
      <div  class="col-md-12 col-lg-12 "  style="background-color:#FFDE59;">
       <center><H1 style="color:black;">Sports at Vidya Valley</H1> </center>
       <br>
       <p style="text-align:justify;"> At VVS, sport is an integral part of education. A wide range of activities, enthusiastically encouraged and supported, complements our academic curriculum. Our Sports Department has 10 PE teachers for different sports.

        Teachers, coaches, and students have brought many initiatives to fruition. This continues to be reflected in participation and achievements within the School, and at Inter-School, Regional, State, National and International levels. CISCE competitions provide opportunities to deserving sportspersons for State and National representation.
        
        Every child participates in a wide range of sports from Junior KG onward. The VIVA SPORTS Program provides coaching and practice in the mornings, after school hours, and on weekends. We encourage children to pursue sports of their choice outside school.
        
        We have 5 Annual Sports Days for different age groups. Each event is set up to be spectacular with march-past, drills, martial arts, and track events.
        Parents come in large numbers to these Sports Days to watch their children. We include sprint events for parents; we are pleased to witness some particularly good athletes at our events.</p>
         </div>
    </div>
</div
{% endblock main %}